@font-face {
	font-family: 'La Belle Aurore';
	src: url('../src/fonts/labelleaurore-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../src/fonts/nunitosans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans';
	src: url('../src/fonts/nunitosans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}