@import './reset';
@import './fonts';
$primarycolor: #08fdd8;
$transition: 0.3s all ease;
$tablet: 1024px;
$mobile: 599px;

html {
	font-size: 62.5%;
}

body {
	background-color: #1d1d1d;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	color: #fff;
}

.primary-color {
	color: $primarycolor;
}

.page-wrapper {
	display: flex;
	height: 100vh;

	@media(max-width:$tablet) {
		height: auto;
		flex-direction: column;
	}

	.navbar {
		width: 7rem;
		background-color: #181818;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media(max-width:$tablet) {
			width: 100%;
			flex-direction: row;
			align-items: center;
		}
	}

	.content {
		width: calc(100% - 7rem);
		height: 100%;
		position: relative;
		padding-left: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media(max-width:$tablet) {
			width: 100%;
			padding: 0 2rem;
			height: calc(100vh - 81.6px);
		}

		@media(max-width:$mobile) {
			height: calc(100vh - 68px);
		}

		&__inner {
			padding-left: 2.5rem;
			margin: 2rem 0;
		}
	}
}

.logo-wrap {
	display: flex;
	padding: 1rem 0;
	background-color: #070707;
	justify-content: center;

	@media(max-width:$tablet) {
		width: 8rem;
	}

	.logo {
		display: inline-flex;
		flex-direction: column;
		align-items: center;

		&__letter {
			color: rgb(253, 16, 86);
			font-size: 5rem;
			line-height: 5rem;
			font-weight: 700;
			position: relative;

			@media(max-width:$mobile) {
				font-size: 3.6rem;
				line-height: 3.6rem;
			}

			&:after {
				content: 'S';
				position: absolute;
				top: -3px;
				left: -4px;
				font-size: 5rem;
				line-height: 5rem;
				font-weight: 700;
				color: $primarycolor;

				@media(max-width:$mobile) {
					font-size: 3.6rem;
					line-height: 3.6rem;
					top: -2px;
					left: -3px;
				}
			}
		}

		&__name {
			font-size: 1.2rem;
		}
	}
}

.social {
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;

		@media(max-width:$tablet) {
			flex-direction: row;
			padding: 0 2rem;
		}

		li {
			margin-bottom: 2rem;

			@media(max-width:$tablet) {
				margin: 0 1rem;
			}

			&:last-child {
				margin-bottom: 0;

				@media(max-width:$tablet) {
					margin-right: 0;
				}
			}

			a {
				display: block;
				width: 1.8rem;
				transition: $transition;

				svg {
					display: block;
					fill: #909096;
				}

				&:hover {
					svg {
						fill: $primarycolor;
					}
				}
			}
		}
	}
}

.main-title {
	position: relative;
	display: flex;
	font-size: 6rem;
	line-height: 7rem;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	transform-origin: 50% 100%;

	@media(max-width:$tablet) {
		font-size: 4.8rem;
		line-height: 6rem;
	}

	@media(max-width:$mobile) {
		font-size: 2.4rem;
		line-height: 3.4rem;
	}

	.text-wrapper {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.letter {
		transform-origin: 50% 100%;
		display: inline-block;
		cursor: default;

		&:hover {
			color: $primarycolor;
		}
	}
}

.sub-title {
	max-width: 86rem;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #8d8d8d;
	position: relative;

	@media(max-width:$mobile) {
		font-size: 1.4rem;
	}

	.text-wrapper {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.letter {
		display: inline-block;
		transform-origin: 0 0;
	}

	a {
		color: $primarycolor;
	}
}

.button {
	width: 16rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $primarycolor;
	background-color: transparent;
	border: 0.1rem solid $primarycolor;
	transition: $transition;

	&:hover {
		color: #333;
		background-color: $primarycolor;
	}
}

.letter {
	display: inline-block !important;
}

.display-ib {
	display: inline-block !important;
}

.mt-20 {
	margin-top: 2rem;
}

.tags {
	font-family: 'La Belle Aurore', cursive;
	line-height: 2rem;

	span {
		display: block;
		max-width: 8rem;
		color: #515152;
		font-size: 1.8rem;
		line-height: 2rem;
		cursor: default;

		&:hover {
			color: $primarycolor;
		}
	}

	.body-tag {
		margin-left: 2.5rem;
	}

	&.top-tags {
		margin-top: 2rem;
	}

	&.bottom-tags {
		margin-bottom: 2rem;
	}
}

:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1
}

.animate__animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: var(--animate-duration);
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}

	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}

	30% {
		-webkit-transform: scale3d(1.25, .75, 1);
		transform: scale3d(1.25, .75, 1)
	}

	40% {
		-webkit-transform: scale3d(.75, 1.25, 1);
		transform: scale3d(.75, 1.25, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, .85, 1);
		transform: scale3d(1.15, .85, 1)
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}

	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.animate__rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}